@use "../custom" as *;

.header {
  grid-area: head;
  background-color: $color-grey-light-1;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    margin-left: 4rem;
    height: 4.6rem;
    display: block;
  }
}

.search {
  //questo è il form
  background-color: #fff;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  transition: all 0.3s;

  // SI IN SOSTANZA FOCUS WITHIN FA FOCUSSARE TUTTO MA RICORDA CHE è NEL FORM CHE è APPLICATO

  &:focus-within {
    transform: translateY(-2px);
    box-shadow: 0 0.7rem 3rem rgba($color-grey-dark-1, 0.08);
  }

  &__field {
    //questa è la vera search bar
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
    font-size: 1.7rem;
    width: 30rem;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $color-grey-light-3;
    }
  }

  &__btn {
    font-weight: 600;
    font-family: inherit;
  }
}

.nav {
  align-self: stretch; //l'oggetto si stretcha tutto ma la scritta rimane predefinita sulla "testa" dell'oggetto
  margin-right: 2.5rem;

  &__list {
    list-style: none;
    display: flex;
    height: 100%;
  }

  &__item {
    position: relative;
  }

  &__btn {
    height: 100%;
    font-family: inherit;
    color: inherit;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 1.5rem;
    transition: all 0.3s;

    display: flex;
    align-items: center;

    svg {
      height: 2.4rem;
      width: 2.4rem;
      fill: $color-primary;
      margin-right: 0.7rem;
      transform: translateY(-1px);
    }

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: $color-grey-light-2;
    }
  }
}

.bookmarks {
  padding: 1rem 0;
  position: absolute;
  // right: 0; TOGLI TUTTI STI CODICI SPARSI A FINE SITO SE NON SONO SERVITI DOPO JS
  right: -2.5rem;
  z-index: 10;
  width: 40rem;
  background-color: #fff;
  box-shadow: 0 0.8rem 5rem 2rem rgba($color-grey-dark-1, 0.1);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s 0.2s;

  &__list {
    list-style: none;
  }

  &__field {
    //FINO AD ORA STO FIELD NON SERVE A UNA BEATA MINCHIA FORSE CON JS SCOPRIRAI A CHE CAZZO SERVE
    cursor: pointer;
    padding: 0 4rem;
    display: flex;
    align-items: center;
    height: 100%;
    transition: all 0.3s;

    &:hover {
      background-color: $color-grey-light-2;
    }
  }
  //FORSE SERVE PER LE RICETTE DOPO CHE LE HAI MESSE CON JS IL SEGUENTE &:HOVER NON SERVE A UN CAZZO L'HO TOLTO E FUNZIONAVA COMUNQUE IL CODICE VEDI CHE FARE
  &:hover,//sta applicando il codice si anche al container ma è piu un QUANDO HOVERI SUL CONTAINER RENDI VISIBILE LA BOX CIOè IL NAV ECC
  .nav__btn--bookmarks:hover + & {
    //NON SO CHE CAZZO SIGNIFIC STO & AGGIUNTO DA SOLO
    visibility: visible;
    opacity: 1;
  }
}
